* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-size: 14px;
    line-height: 1.6;
    text-decoration: 0;
    color: #333;
    background: #F0F0F0;
}

.container {
    width: 980px;
    padding: 0 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    color: #fff;
    background: #039789;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    width: 6%;
    font-size: 35px;
    cursor: pointer;
    position: relative;
}

header .logo:hover {
    color: #f1f1f1;
}

header ul {
    list-style: none;
    padding-left: 0;
    width: 60%;
    display: flex;
    margin-left: 25%;
    padding: 17px 0;
}

header ul li {
    color: #dbdbdb;
    margin: 0 20px;
    letter-spacing: 1px;
}

header ul li a {
    color: inherit;
}

header ul li.selected,
header ul li:hover {
    color: #fff;
}

header span.lang {
    padding: 17px 5px;
    position: relative;
    right: -56px;
}


/* main */
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

main>aside {
    margin: 5px;
    box-shadow: 0 0 4px 0px #959595;
}

/* aside */
main aside {
    background: #fff;
    width: 35%;
    position: relative;
}

aside div.profil {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

aside div.profil img {
    width: 100%;
    perspective: 600px;

}

aside div.profil h1 {
    position: absolute;
    bottom: 0;
    font-size: 22px;
    background: #01010163;
    color: #fff;
    padding: 10px 20px;
}


aside ul.profileul {
    list-style: none;
    padding-left: 0;
    padding: 10px 10px;
}

aside ul.profileul li {
    color: #333;
    padding: 5px 0;
}



/* icon style */
/* aside ul.profileul li i {
    font-size: 11px;
    color: #039789;
    padding: 2px 5px;
} */


aside hr {
    width: 90%;
    margin: auto;
    background: #d9d9d952;
    border-top: 1px solid #3333332b;
}

/* skills and laguages icon  */
/* aside div.skills i, div.languages i {
    font-size: 20px;
    color: #039789;
    padding: 2px 5px;
} */

aside div.skills,
div.languages {
    width: 100%;
    padding: 10px;
}

aside div.skills h3,
div.languages h3 {
    font-size: 16px;
    color: #333;
}

aside div.skills>div,
div.languages>div {
    width: 100%;
    padding: 5px 0;
}

aside div.skills>div h4,
div.languages>div h4 {
    color: #818181;
    font-weight: 100;
    margin-bottom: 5px;
}

aside div.skills>div div.s-progress,
div.languages>div div.l-progress {
    width: 100%;
    background: #d9d9d9;
    height: 14px;
    border-radius: 9px;
}

aside div.languages>div div.l-progress {
    height: 18px;
}

aside div.skills>div div.s-progress div,
div.languages>div div.l-progress div {
    background: #039789;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    height: 100%;
    border-radius: 9px;
}

.s-p-bar1 {
    width: 90%;
}

.s-p-bar2 {
    width: 82%;
}

.s-p-bar3 {
    width: 75%;
}

.s-p-bar4 {
    width: 50%;
}


.l-p-bar1 {
    width: 100%;
}

.l-p-bar2 {
    width: 58%;
}

.l-p-bar3 {
    width: 38%;
}




/* sections */
main .column {
    width: 62.89%;
    margin: 5px;
}

main section {
    background: #fff;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 4px 0px #959595;
    padding: 15px;
    position: relative;
}

/* icon 
main section i {
    font-size: 25px;
    color: #039789;
    padding: 2px 5px;
} */

main section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 100;
}

main section div.item {
    padding: 10px;
    position: relative;
}

section div.item h5 {
    margin-bottom: 5px;
    font-size: 14px;
}

section div.item div.date {
    color: #039789;
    margin-bottom: 5px;
    font-size: 12px;
}

/* icon  */
/* section div.item div.date i {
    font-size: 10px;
    color: #039789;
    padding: 2px 5px;
} */


section div.item div.date span {
    background: #039789;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 2px 10px;

}

section div.item p {
    font-size: 13px;
}

section hr {
    height: 0;
    border: 0;
    border-top: 1px solid #b9b9b961;
    width: 90%;
    margin: 20px auto;
}


/* footer */
footer {
    background: #039789;
    padding: 25px 0;
    text-align: center;
    position: relative;
    color: #fff;
}

footer p {
    display: block;
    text-align: center;
    width: 100%;
    color: #fff;
}

footer div.social {
    width: 20%;
    margin: auto;
}

footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

footer ul li {
    padding: 0 13px;
}

footer p a {
    color: #fff;
    text-decoration: underline;
}